@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul{
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  gap: 34px;
}
.brand{
  margin-left: 120px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a3a3a;
}
.navbar ul li{
  list-style: none;
  font-size: 1rem;
  color: #3a3a3a;
}


.hero{
  /* border: 1px solid black; */
  max-width: 1440px;
  display: flex;
  gap: 133px;
  margin-left: 120px;
  align-items: center;
  margin-bottom:  120px;
}
.hero-left h1{
  width: 582px;
  font-size: 42px;
  margin-bottom: 20px;
  color: #3a3a3a;
  line-height: 70px;
  font-size: 3.25rem;
  font-weight: bold;
}
.hero-left p{
  width: 505px;
  color: #666;
  margin-bottom: 25px;
  font-size: 1rem;
  font-weight: 500;
}
.btn{
  background: #e91e63;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}
.hero-right{
 position: relative;
 width: 400px;
 height: 400px;
}

.img1{
  width: 475px;
  position: absolute;
  top: 0x;
  left: 0;
  z-index: 1;
}
.img2{
  width: 440px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}


.card-section{
  /* background-color: rgba(170, 170, 170, 1); */
  border: 1px solid #b9b7b7;
  border-right: none;
  border-left: none;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  gap: 61px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
}


.collection-title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
  color: #3a3a3a;
}


.popular-collection{
  /* border: 1px solid black; */
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.collection{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.collection-content{
  /* border: 1px solid red; */
  width: 329px;
  height: 476px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding-top: 17px;
  padding-left: 14px;
}
.collection-content img{
  margin-bottom: 16px;
}
.collection-content .p1{
  font-size: 28px;
  font-weight: 600;
  color: #18191F;
  margin-bottom: 6px;
}
.collection-content .p2{
  font-size: 24px;
  font-weight: 500;
}
.collection-content .p3{
  color: #FB8200;
  font-size: 10px;
}
   #ratings{
  font-size: 16px;
  color: #5E6366;
  margin-left: 8px;
}
.collection-content .p4{
  font-weight: 800;
  font-size: 14px;
  color: #787885;
  margin-bottom: 17px;
}
.collection-btn{
  display: flex;
  justify-content: flex-end;
}
.btn2{
  margin-top: 50px;
  border: none;
  background-color: #FFF;
  font-weight: 800;
  font-size: 16px;
  color: #E02C6D;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn2:hover{
   transform: translateX(6px);
  box-shadow: 0 6px 14px rgba(224, 44, 109, 0.25);
}




.featured-section{
  /* border: 1px solid black; */
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
}

.btn3{
  background: #e91e63;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
}

.featured-content h1{
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #0A0826;
}
.featured-content p{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 16px;
  color: #6C6C6C;
  max-width: 501px;
}



.footer-section{
  background-color: #01061b;
}
footer{
  color: white;
  text-align: center;
  /* line-height: 20px; */
  padding: 50px;
}

footer .icon{
  margin-right: 16px;
}