@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul{
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  gap: 34px;
}
.brand{
  margin-left: 120px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a3a3a;
}
.navbar ul li{
  list-style: none;
  font-size: 1rem;
  color: #3a3a3a;
}


.hero{
  /* border: 1px solid black; */
  max-width: 1440px;
  display: flex;
  gap: 133px;
  margin-left: 120px;
  align-items: center;
}
.hero-left h1{
  width: 582px;
  font-size: 42px;
  margin-bottom: 20px;
}
.hero-left p{
  width: 505px;
  color: #666;
  margin-bottom: 25px;
}
.btn{
  background: #e91e63;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}
.hero-right{
 position: relative;
 width: 400px;
 height: 400px;
}

.img1{
  width: 475px;
  position: absolute;
  top: 0x;
  left: 0;
  z-index: 1;
}


.img2{
  width: 440px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}